
body {
    font-family: sans-serif;
    margin: 0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.hero {
   background-image: url("../img/foto1.webp") ;
    padding: 302px 0;
    text-align: center;
}

.hero img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.container-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.content {
    width: 50%;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p {
    line-height: 1.6;
    margin-bottom: 30px;
}

.image {
    width: 45%;
}

.image img {
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
}

.card-list {
    width: 50%;
}

.card-list ul {
    list-style: disc;
    padding-left: 20px;
}

.card-image {
    width: 45%;
}

.card-image img {
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-saiba-mais{
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}

.newsletter {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    gap: 30px;
    background-image: url("/img/foto3.webp");
    background-size: cover;
    background-repeat: no-repeat;

   
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 10px;
}

.form-container p {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #6200ee; /* Roxo */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5300c9; /* Roxo mais escuro */
}

.info-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px; /* Ajuste a largura conforme necessário */
}

.info-container h2 {
    margin-bottom: 15px;
}

.info-container p {
    margin-bottom: 10px;
}

.info-container i {
    margin-right: 5px;
}



footer {
    background-color: #f5f5f5; /* Cinza claro */
    padding: 30px 0;
    color: #333; /* Cinza escuro */
    text-align: center;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Define a largura máxima da container */
    margin: 0 auto; /* Centraliza a container */
}

.footer-section {
    flex: 1;
    text-align: left;
    margin-bottom: 30px;
}

.footer-section img {
    max-width: 150px; /* Ajuste a largura da logo conforme necessário */
    margin-bottom: 15px;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #333;
    text-decoration: none;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media li {
    margin: 0 10px;
}

.social-media a {
    color: #333;
    font-size: 1.5rem;
}

.copyright {
    background-color: #e9e9e9; /* Cinza mais claro */
    padding: 10px 0;
    text-align: center;
    font-size: 0.8rem;
}